@using ChatApp.Web.ViewModels
@model AdminChatRoomViewModel

<div>
    <label class="block text-sm font-semibold text-gray-700 mb-2">Select Members to Include</label>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-x-6 gap-y-4 p-4 bg-gray-500/10 rounded-lg">
        <div class="flex items-center">
            <input asp-for="IncludeStudents" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
            <label asp-for="IncludeStudents" class="ml-3 block text-sm font-medium text-gray-700"></label>
        </div>
        <div class="flex items-center">
            <input asp-for="IncludeTeachers" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
            <label asp-for="IncludeTeachers" class="ml-3 block text-sm font-medium text-gray-700"></label>
        </div>
        <div class="flex items-center">
            <input asp-for="IncludeStaff" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
            <label asp-for="IncludeStaff" class="ml-3 block text-sm font-medium text-gray-700"></label>
        </div>
        <div class="flex items-center">
            <input asp-for="IncludeGuardians" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
            <label asp-for="IncludeGuardians" class="ml-3 block text-sm font-medium text-gray-700"></label>
        </div>
    </div>
</div>
